
.left{
    color:white;
    
    display: inline-block;
    position: absolute;
    left:20px;
    top:18px;
} 
.mid{
    color:white;

    display:block;
    width: 33%;
    margin:20px auto; 
    
}  
.right{
    color:white;
    
    position: absolute;
    right:20px;
    top:18px;
    display:inline-block;
    margin: 0px auto; 

} 
.left p{
    text-align: center;
    
    font-size: 20px;
    position: absolute;;
}
.navbar{
    display:inline-block;
}
.navbar li {
    display:inline-block;
    font-size: 22px;
    margin-top: -12px;
    
}
.navbar li  a{
    color:white;
    text-decoration: none;
    padding:34px 23px ;
    
    
}
.navbar li a:hover, .navbar li a:active {
    text-decoration: underline;
    color:blueviolet;

}
.right {
    font-size: 21px;
    cursor:pointer;
    color:white;
}
.right {
    cursor: pointer;
    margin: auto;
}
.btn a:hover .btn a:active{
    
    background-color: blueviolet;
}
.mid{
    width: 74%;
    margin: 17px auto;
}
.container{
    margin-top: 55px;
    
    display: inline-block;
    padding: 39px;
    border-radius: 5px;
    margin-left: 11%;
}